<img style="float: left;;" src='Imagenes/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Introducción a Python: Listas, Iteraciones y Strings


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.python.org/static/community_logos/python-logo.png" width="200px" height="200px" />

> Ya conocemos un poco más de la sintaxis de Python, como hacer funciones y como usar condicionales. Es hora que veamos otros tipos de variables (arreglos) y cómo hacer líneas de código que ejecuten operaciones repetitivas.

Referencias:
- https://www.kaggle.com/learn/python
___

# 1. Listas

Las listas son objetos en Python representan secuencias ordenadas de valores. 

Veamos un par de ejemplos de como crearlas:

In [1]:
# Primeros números primos
primos = [2,5,3,7]
# Planetas del sistema solar
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [2]:
primos

[2, 5, 3, 7]

In [3]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

Vemos que las listas no son exclusivamente de números. 

Ya vimos listas de números, pero también de strings.

Incluso, se pueden hacer listas de listas:

In [4]:
lista_primos_planetas = [primos, planetas]
lista_primos_planetas

[[2, 5, 3, 7],
 ['Mercurio',
  'Venus',
  'Tierra',
  'Marte',
  'Jupiter',
  'Saturno',
  'Urano',
  'Neptuno']]

Aún más, se pueden hacer listas de diferentes tipos de objetos:

In [5]:
lista_diferentes_tipos = [2,0.0,'Hola',help,primos]
lista_diferentes_tipos

[2,
 0.0,
 'Hola',
 Type help() for interactive help, or help(object) for help about object.,
 [2, 5, 3, 7]]

Sin duda, en muchas ocasiones nos será muy útil tener una sola lista guardando varios resultados, que muchos resultados guardados en objetos individuales.

Pero, una vez en la lista, ¿cómo accedemos a los objetos individuales?

## 1.1 Indizado

Podemos acceder a los elementos individuales pertenecientes a la lista a través de brackets ([])

Por ejemplo, ¿cuál planeta está más cercano al sol en nuestro sistema solar?

- Acá una nota importante: Python usa índices comenzando en cero (0):

In [6]:
# Planeta más cercano al sol
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [7]:
planetas[0]

'Mercurio'

In [8]:
# Siguiente planeta
planetas[1]

'Venus'

Todo bien...

Ahora, ¿cuál es el planeta más alejado del sol?

- Los elementos de una lista pueden tambien ser accedidos de atrás para adelante, utilizando números negativos:

In [9]:
# Planeta más alejado del sol
planetas[7]

'Neptuno'

In [10]:
planetas[-1]

'Neptuno'

In [11]:
# Segundo planeta más alejado
planetas[6], planetas[-2]

('Urano', 'Urano')

Muy bien...

Y si quisiéramos averiguar, por ejemplo, ¿cuáles son los tres planetas más cercanos al sol?

In [12]:
# Tres primeros planetas
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

In [13]:
planetas[3:6]

['Marte', 'Jupiter', 'Saturno']

Entonces `lista[a:b]` es nuestra manera de preguntar por todos los elementos de la lista con índice comenzando en `a` y continuando hasta `b` sin incluir (es decir, hasta `b-1`).

Los índices de comienzo y de término son opcionales:
- Si no ponemos el índice de inicio, se asume que es cero (0): `lista[:b] == lista[0:b]`

In [14]:
# Reescribir la expresión anterior
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

In [15]:
planetas[:3]

['Mercurio', 'Venus', 'Tierra']

- Equivalentemente, si no ponemos el índice de fin, se asume que este equivale a la longitud de la lista:

In [16]:
# Lista de todos los planetas comenzando desde el planeta tierra
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [17]:
planetas[2:]

['Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

También podemos usar índices negativos cuando accedemos a varios objetos.

Por ejemplo, ¿qué obtenemos con las siguientes expresión?

In [18]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [19]:
planetas[:-2]

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno']

```python
lista[n:n + N] = [lista[n], lista[n + 1], ..., lista[n + N - 1]]
```

In [20]:
n=2
N=3
planetas[n:n+N]

['Tierra', 'Marte', 'Jupiter']

Slice:

```python
lista[n:n+N:s] = [lista[n], lista[n + s], lista[n + 2 * s], ..., ]
```

In [21]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [22]:
planetas[0:5:2]

['Mercurio', 'Tierra', 'Jupiter']

In [23]:
primos

[2, 5, 3, 7]

In [24]:
# Elementos de la lista en reverso (al revés)
primos[::-1]

[7, 3, 5, 2]

In [25]:
primos

[2, 5, 3, 7]

## 1.2 Modificando listas

Las listas son objetos "mutables", es decir, sus objetos pueden ser modificados directamente en la lista.

Una manera de modificar una lista es asignar a un índice.

Por ejemplo, supongamos que la comunidad científica, con argumentos basados en la composición del planeta, decidió modificar el nombre de "Planeta Tierra" a "Planeta Agua".

In [26]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [27]:
planetas[2] = 'Agua'

In [28]:
planetas

['Mercurio',
 'Venus',
 'Agua',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

También podemos cambiar varios elementos de la lista a la vez:

In [29]:
planetas[:3] = ['Mer','Ven','Tier','Mar']
planetas

['Mer',
 'Ven',
 'Tier',
 'Mar',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [30]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

## 1.3 Funciones sobre listas

Python posee varias funciones supremamente útiles para trabajar con listas.

`len()` nos proporciona la longitud (número de elementos) de una lista:

In [31]:
# función len()
len(planetas)

8

In [32]:
len(primos)

4

`sorted()` nos regresa una versión ordenada de una lista:

In [33]:
# Ayuda en la función sorted
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [34]:
# Llamar la función sorted sobre primos
primos

[2, 5, 3, 7]

In [35]:
sorted(primos)

[2, 3, 5, 7]

In [36]:
sorted(primos, reverse=True)

[7, 5, 3, 2]

In [37]:
# Llamar la función sorted sobre planetas
sorted(planetas, reverse=False)

['Jupiter',
 'Marte',
 'Mercurio',
 'Neptuno',
 'Saturno',
 'Tierra',
 'Urano',
 'Venus']

In [38]:
def long_str(s):
    return len(s)

In [39]:
long_str('Jupiter')

7

In [40]:
sorted(planetas, key=long_str)

['Venus',
 'Marte',
 'Urano',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Mercurio']

**Paréntesis: Funciones anónimas**

Las funciones anónimas comienzan con la palabra clave `lambda` seguidas por el (los) argumento(s) de la función. Después de `:` se escribe lo que retorna la función.

In [41]:
def long_str(s):
    return len(s)

In [42]:
long_str2 = lambda s: len(s)

In [43]:
sorted(planetas, key=long_str2)

['Venus',
 'Marte',
 'Urano',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Mercurio']

`sum()`, ya se imaginarán que hace:

In [44]:
# Ayuda en la función sum
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [45]:
primos

[2, 5, 3, 7]

In [46]:
# sum
sum(primos)

17

En la clase pasada utilizamos las funciones `min()` y `max()` sobre varios argumentos.

También le podemos pasar un solo argumento tipo lista.

In [47]:
# min
min(primos)

2

In [48]:
# max
max(primos)

7

___
## Pausa: Objetos

Hasta ahora he venido utilizando la palabra **objeto** sin darle mucha importancia. ¿Qué significa en realidad?

- si han visto algo de Python, pueden haber escuchado que todo en Python es un objeto.

En la siguiente semana estudiaremos a nivel muy básico qué es la programación orientada a objetos.

Por ahora, nos basta con saber que los objetos cargan varias "cosas" con ellos, y podemos acceder a estas "cosas" utilizando la "sintaxis punto (.)" de Python.

Por ejemplo, los números en Python tienen una variable asociada llamada `imag`, la cual representa su parte imaginaria:

In [49]:
# Atributos real e imag
a = 7

In [50]:
a.imag, a.real

(0, 7)

Entre las "cosas" que los objetos cargan, también pueden haber funciones. 

Una función asociada a un objeto se llama **método**.

Las "cosas" asociadas a los objetos, que no son funciones, son llamados **atributos** (ejemplo: imag).

In [51]:
# Método conjugate()
a.denominator, a.numerator

(1, 7)

In [52]:
b = (6 + 5j)/3
b

(2+1.6666666666666667j)

In [53]:
b.real,b.imag

(2.0, 1.6666666666666667)

In [54]:
b.conjugate()

(2-1.6666666666666667j)

In [55]:
c = 5/3
c

1.6666666666666667

In [56]:
c.as_integer_ratio()

(7505999378950827, 4503599627370496)

In [57]:
7505999378950827/4503599627370496

1.6666666666666667

Y si no sabemos qué hace un método determinado en un objeto, también podemos pasar métodos a la función `help()`, de la misma manera en que le pasamos funciones:

In [58]:
# help(objeto.metodo)
help(b.conjugate)

Help on built-in function conjugate:

conjugate(...) method of builtins.complex instance
    complex.conjugate() -> complex

    Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

Bueno, ¿y esto de que nos sirve?

Pues las listas tienen una infinidad de métodos útiles que estaremos usando...
___

## 1.4 Métodos de las listas

`list.append()` modifica una lista añadiéndole un elemento en el final:

In [59]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [60]:
# Plutón también es un planeta
planetas.append('Pluton')

In [61]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Pluton']

In [62]:
var2 = planetas.append('Pluton')

In [63]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Pluton',
 'Pluton']

In [64]:
print(var2)

None

¿Porqué no obtuvumos una salida en la celda de arriba?

Verifiquemos la documentación del método append:

**Comentario:** append es un método de todos los objetos tipo `list`, de manera que habríamos podido llamar `help(list.append)`. Sin embargo, si intentamos llamar `help(append)`, Python nos dirá que no existe nada con el nombre "append", pues `append` solo existe en el contexto de listas.

In [65]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

`list.pop()` remueve y devuelve el último elemento de una lista:

In [66]:
# Que Plutón siempre no es un planeta
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Pluton',
 'Pluton']

In [67]:
var2 = planetas.pop()
var2

'Pluton'

In [68]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Pluton']

In [69]:
help(planetas.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [70]:
plt = planetas.pop(1)
plt

'Venus'

In [71]:
planetas

['Mercurio',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Pluton']

In [72]:
plt = planetas.pop(5)
plt

'Urano'

In [73]:
planetas

['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Neptuno', 'Pluton']

### 1.4.1 Buscando en listas

¿En qué lugar de los planetas se encuentra la Tierra? Podemos obtener su índice usando el método `list.index()`:

In [74]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [75]:
# índice del planeta tierra
planetas.index('Tierra')

2

In [76]:
planetas[2]

'Tierra'

In [77]:
planetas[planetas.index('Tierra')]

'Tierra'

Está en el tercer lugar (recordar que el indizado en Python comienza en cero)

¿En qué lugar está Plutón?

In [78]:
# índice del planeta plutón
planetas.index('Pluton')

ValueError: 'Pluton' is not in list

<font color=red> Error ... </font> ¡como debe ser!

Para evitar este tipo de errores, existe el operador `in` para determinar si un elemento particular pertenece a una a una lista:

In [79]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [80]:
# ¿Es la Tierra un planeta?
'Tierra' in planetas

True

In [81]:
# ¿Es Plutón un planeta?
'Pluton' in planetas

False

In [82]:
# Usar esto para evitar el error de arriba
if 'Pluton' in planetas:
    planetas.index('Pluton')
else:
    print('Pluton no es un planeta')

Pluton no es un planeta

In [83]:
def is_planet(plt, planetas):
    if plt in planetas:
        planetas.index(plt)
    else:
        print(f'{plt} no es un planeta')
    return planetas

In [84]:
is_planet('Pluton',planetas)

Pluton no es un planeta

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [85]:
is_planet('Tierra',planetas)

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

Hay otros métodos interesantes de las listas que no veremos. Si quieren aprende más acerca de todos los métodos y atributos de un objeto particular, podemos llamar la función `help()` sobre el objeto.

Por ejemplo:

In [86]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [87]:
primos.extend([11,13])

In [88]:
primos

[2, 5, 3, 7, 11, 13]

## 1.5 Tuplas

También son arreglos de objetos similares a las listas. Se diferencian en dos maneras:

- La sintaxis para crear tuplas usa paréntesis (o nada) en vez de brackets:

In [89]:
l = [1,2,3]
l

[1, 2, 3]

In [90]:
# O equivalentemente
t = (1,2,3)
t

(1, 2, 3)

In [91]:
t2 = 4,5,6
t2

(4, 5, 6)

- Las tuplas, a diferencia de las listas, no pueden ser modificadas (son objetos inmutables):

In [92]:
l[1] = 5
l

[1, 5, 3]

In [93]:
# Intentar modificar una tupla
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [94]:
t[:2]

(1, 2)

Las tuplas son usadas comúnmente para funciones que devuelven más de un valor.

Por ejemplo, el método `as_integer_ratio()` de los objetos `float`, devuelve el numerador y el denominador en la forma de una tupla:

In [95]:
# as_integer_ratio
t3 = 0.25.as_integer_ratio()
t3

(1, 4)

In [96]:
t3[0]/t3[1]

0.25

In [97]:
# Ayuda en el método float.as_integer_ratio
help(float.as_integer_ratio)

Help on method_descriptor:

as_integer_ratio(self, /)
    Return integer ratio.

    Return a pair of integers, whose ratio is exactly equal to the original float
    and with a positive denominator.

    Raise OverflowError on infinities and a ValueError on NaNs.

    >>> (10.0).as_integer_ratio()
    (10, 1)
    >>> (0.0).as_integer_ratio()
    (0, 1)
    >>> (-.25).as_integer_ratio()
    (-1, 4)

In [98]:
(num,den) = (10.0).as_integer_ratio()
num,den

(10, 1)

In [99]:
num,den = (10.0).as_integer_ratio()
num,den

(10, 1)

También pueden ser usadas como un atajo:

In [100]:
a = (1,2)
b = (0,'A')

a,b = b,a

print(a,b)

(0, 'A') (1, 2)

# 2. Ciclos o iteraciones

## 2.1 Ciclos `for`

Las iteraciones son una manera de ejecutar cierto bloque de código repetidamente:

In [101]:
# Planetas, de nuevo
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [102]:
# Imprimir todos los planetas en la misma línea
for plt in planetas:
    print(plt, end=', ')

Mercurio, Venus, Tierra, Marte, Jupiter, Saturno, Urano, Neptuno,

Para construir un ciclo `for`, se debe especificar:

- el nombre de la variable que va a iterar (planeta),

- el conjunto de valores sobre los que va a iterar la variable (planetas).

Se usa la palabra `in`, en este caso, para hacerle entender a Python que *planeta* va a iterar sobre *planetas*.

El objeto a la derecha de la palabra `in` puede ser cualquier objeto **iterable**. Básicamente, un iterable es cualquier arreglo (listas, tuplas, conjuntos, arreglos de numpy, series de pandas...).

Por ejemplo, queremos hallar la multiplicación de todos los elementos de la siguiente tupla.

In [103]:
multiplicandos = (2,2,2,3,3,5)
multiplicandos

(2, 2, 2, 3, 3, 5)

In [104]:
# Multiplicación como ciclo
producto=1
for n in multiplicandos:
    #producto=producto*n
    producto*=n

producto

360

Incluso, podemos iterar sobre los caracteres de un string:

In [105]:
# Imprimir solo los caracteres en mayúscula, sin espacios, uno seguido de otro
s = 'HELLO steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    print(char if char.isupper() else '',end='')

HELLOHELLO

### 2.1.1 Función `range()`

La función `range()` es una función que devuelve una secuencia de números. Es extremadamente útil para escribir ciclos for.

Por ejemplo, si queremos repetir una acción 5 veces:

In [106]:
# For de 5 iteraciones
for i in range(5):
    print('Hola', i)

Hola 0
Hola 1
Hola 2
Hola 3
Hola 4

In [107]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [108]:
lista2=list(range(0,20))
lista2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

**Actividad:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `for`.

In [109]:
# Código aquí
def fibonacci_for(n):
    fibonacci=[1,1,2,3,..]
    if n>0:
        for i in range(n):
            print()

SyntaxError: invalid syntax (Temp/ipykernel_84988/1391131138.py, line 3)

In [117]:
def fibonacci_for(n):
    if n==1:
        fibonacci=[0] 
    elif n==2:
        fibonacci=[0,1]
    elif n>=3:
        fibonacci=[0,1]
        for i in range (n-2):
            fibonacci.append(fibonacci[-2] + fibonacci[-1])
    return fibonacci[1:]

In [118]:
fibonacci_for(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

## 2.2 Ciclos `while`

Son otro tipo de ciclos en Python, los cuales iteran hasta que cierta condición deje de cumplirse.

Por ejemplo:

In [123]:
i = 10
listaw = []
while i>=0:
    print(i, end=' ')
    i = i-1
    listaw.append(i)
print('\nLista:')
print(listaw)

10 9 8 7 6 5 4 3 2 1 0
Lista:
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

El argumento de un ciclo `while` se evalúa como una condición lógica, y el ciclo se ejecuta hasta que dicha condición sea **False**.

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `while`.

2. Escribir una función que devuelva los elementos menores a cierto número $x$ de la sucesión de Fibonacci, usando un ciclo `while`.

In [124]:
def fibonacci_while(n):
    if n==1:
        fibonacci=[0] 
    elif n==2:
        fibonacci=[0,1]
    elif n>=3:
        i=2
        fibonacci=[0,1]
        while i<n:
            fibonacci.append(fibonacci[-2] + fibonacci[-1])
            i = i+1
            #i+=1
            
    return fibonacci

In [125]:
fibonacci_while(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Pausa: Recursión

Una manera adicional de ejecutar iteraciones se conoce como *recursión*, y sucede cuando definimos una función en términos de sí misma.

Por ejemplo, el $n$-ésimo número de la secuencia de Fibonacci, recursivamente sería:

In [126]:
def fibonacci_recursive(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci_recursive(n-1) + fibonacci_recursive(n-2)

In [127]:
fibonacci_recursive(10)

34

## 2.3 List comprehensions (no encuentro una traducción suficientemente buena de esto)

List comprehension son una de las características más chidas de Python. La manera más fácil de entenderla, como muchas cosas, es revisando ejemplos:

In [130]:
# Primero, con ciclo for: listar los cuadrados de los 10 dígitos
sq = []
for i in range(10):
    print(i, end= ' ')
    #print(i**2, end= ' ')
    sq.append(i**2)
sq

0 1 2 3 4 5 6 7 8 9

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
# Ahora con una list comprehension
sq = [i**2 for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Podemos agregar, incluso, condicionales:

In [132]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [133]:
# Ejemplo con los planetas
plt_m7 = [plt for plt in planetas if len(plt) <7]
plt_m7

['Venus', 'Tierra', 'Marte', 'Urano']

In [134]:
plt_m7=[]
for plt in planetas:
    if len(plt)<7:
        plt_m7.append(plt)
plt_m7

['Venus', 'Tierra', 'Marte', 'Urano']

Se puede usar para dar formato:

In [135]:
# str.upper()
upper_planetas = [plt.upper() for plt in planetas]
upper_planetas

['MERCURIO',
 'VENUS',
 'TIERRA',
 'MARTE',
 'JUPITER',
 'SATURNO',
 'URANO',
 'NEPTUNO']

Es supremamente importante aprender esto, ya que es ampliamente utilizado y ayuda a reducir muchísimas líneas de código.

Ejemplo: escribir la siguiente función usando un ciclo for.

In [136]:
# Una función que reciba una lista de números (positivos o negativos) y que retorne
# cuántos números negativos hay
def cuantos_negativos(lista_iterable):
    cnt_negativos = 0
    for num in lista_iterable:
        if num <0:
            cnt_negativos+=1
    return cnt_negativos

In [139]:
cuantos_negativos([-5,-1,-2,0,3])

3

Ahora, con list comprehensions:

In [142]:
def cuantos_negativos(lista_iterable):
    #cnt_negativos=0
    negativos = [1 for num in lista_iterable if num<0]
    
    return sum(negativos)

In [147]:
def cuantos_negativos(lista_iterable):

    negativos = [num for num in lista_iterable if num<0]
    
    return len(negativos)

In [149]:
def cuantos_negativos(lista_iterable):
    return len([num for num in lista_iterable if num<0])

In [150]:
# Probar la función
cuantos_negativos([-5,1,2,0,-3])

2

# 3. Strings y diccionarios

## 3.1 Strings

Si hay algo en lo que Python es la ley es manipulando Strings. En esta sección veremos algunos de los métodos de los objetos tipo string, y operaciones de formateo (muy útiles en la limpieza de bases de datos, por cierto).

### 3.1.1 Sintaxis string

Ya hemos visto varios ejemplos involucrando strings anteriormente. Solo para recordar:

In [151]:
import re

In [152]:
x = 'Pluton es un planeta'
y= "Pluton es un planeta"

x==y

True

Hay casos particulares para preferir una u otra:

- Las comillas dobles son convenientes si tu string contiene un apóstrofe.

- De manera similar, se puede crear fácilmente un string que contiene comillas dobles englobándolo en comillas simples.

Ejemplos:

In [153]:
print("Pluto's a planet!")

Pluto's a planet!

In [154]:
print('My dog is named "pluto" ')

My dog is named "pluto"

In [155]:
'Pluto's a planet!'

SyntaxError: invalid syntax (Temp/ipykernel_84988/3700428292.py, line 1)

In [157]:
print('Pluto\'s a planet')

Pluto's a planet

In [158]:
"My dog is named "pluto" ""

SyntaxError: invalid syntax (Temp/ipykernel_84988/2786417909.py, line 1)

In [159]:
print("My dog is named \"pluto\"")

My dog is named "pluto"

### 3.1.2 Los strings son iterables

Los objetos tipo strings son cadenas de caracteres. Casi todo lo que vimos que le podíamos aplicar a una lista, se lo podemos aplicar a un string.

In [160]:
# string de ejemplo
string_ex = "Esto es un ejemplo"
string_ex

'Esto es un ejemplo'

In [162]:
# Indexado
string_ex[-5]

'e'

In [165]:
# Indexado multiple
string_ex[5:10]

'es un'

In [166]:
# ¿Cuántos caracteres tiene?
len(string_ex)

18

In [167]:
# También podemos iterar sobre ellos
vocales = [char for char in string_ex if char.lower() in ['a','e','i','o','u']]
vocales

['E', 'o', 'e', 'u', 'e', 'e', 'o']

Sin embargo, una diferencia principal con las listas, es que son inmutables (no los podemos modificar).

In [168]:
string_ex[0] = 'e'

TypeError: 'str' object does not support item assignment

### 3.1.3 Métodos de los strings

Como las listas, los objetos tipo `str` tienen una gran cantidad de métodos útiles.

Veamos algunos:

In [169]:
# string de ejemplo
string_ex

'Esto es un ejemplo'

In [170]:
# EN MAYÚSCULAS
string_ex.upper()

'ESTO ES UN EJEMPLO'

In [171]:
# en minúsculas
string_ex.lower()

'esto es un ejemplo'

In [174]:
# pregunta: comienza con?
string_ex.upper().startswith('ESTO')

True

In [175]:
# pregunta: termina con?
string_ex.upper().endswith('ESTO')

False

In [177]:
string_ex.upper().endswith('EJEMPLO')

True

In [182]:
string_ex.count('un')

1

In [183]:
help(string_ex.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [185]:
string_ex

'Esto es un ejemplo'

In [184]:
string_ex.find('e')

5

In [186]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Entre listas y strings: métodos `split()` y `join()`

El método `str.split()` convierte un string en una lista de strings más pequeños.

Esto es supremamente útil para tomar de un string cada una de sus palabras:

In [188]:
string_ex

'Esto es un ejemplo'

In [187]:
string_ex.split()

['Esto', 'es', 'un', 'ejemplo']

In [189]:
string_ex.split('e')

['Esto ', 's un ', 'j', 'mplo']

In [190]:
help(string_ex.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [192]:
string_ex.split('e')

['Esto ', 's un ', 'j', 'mplo']

In [194]:
string_ex.split('e', maxsplit=1)

['Esto ', 's un ejemplo']

In [195]:
str2 = "este es un segundo ejemplo"

In [199]:
str2.split('e', maxsplit=4)

['', 'st', ' ', 's un s', 'gundo ejemplo']

O para obtener cierta información:

In [201]:
# Año, mes y día de una fecha especificada como string
fecha ="1987/4/10".split("/")
fecha

['1987', '4', '10']

In [202]:
[int(string) for string in fecha]

[1987, 4, 10]

`str.join()` nos sirve para devolver los pasos. 

Teniendo una lista de pequeños strings, la podemos convertir en un solo string usando el string sobre el que se llama como separador:

In [209]:
# Con la fecha...
fecha2 = "/".join(['1987', '4', '10'])
fecha2

'1987/4/10'

In [210]:
"-".join("1987/4/10".split("/"))

'1987-4-10'

In [211]:
"1987/4/10".replace("/","-")

'1987-4-10'

### 3.1.4 Concatenación de strings

Python nos permite concatenar strings con el operador `+`:

In [212]:
# Ejemplo
hola = "Hola"
nombre='Gaddiel'
saludo = '¿Cómo estás?'

hola +" "+nombre+" " + saludo

'Hola Gaddiel ¿Cómo estás?'

Sin embargo, hay que tener cuidado:

In [214]:
"Mi edad es : " + str(33 )

'Mi edad es : 33'

In [ ]:
# Concatenar un string con un número

## 3.2 Diccionarios

Los diccionarios son otros objetos de Python que mapean llaves a elementos:

In [215]:
numeros = {'uno':1, 'dos':2, 'tres':3 }
numeros

{'uno': 1, 'dos': 2, 'tres': 3}

In [217]:
type(numeros)

dict

En este caso, los strings "uno", "dos", y "tres" son las llaves, y los números 1, 2 y 3 son sus valores correspondientes.

Los valores son accesados con brackets, similarmente a las listas:

In [220]:
numeros['uno'], numeros['dos'], numeros['tres']

(1, 2, 3)

Usamos una sintaxis similar para añadir otro par llave, valor

In [221]:
numeros['cuatro']=4

In [222]:
numeros

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}

O cambiar el valor asociado a una llave existente

In [224]:
numeros['uno'] = '1'

In [225]:
numeros

{'uno': '1', 'dos': 2, 'tres': 3, 'cuatro': 4}

### Navegando entre listas, tuplas, diccionarios: `zip`

Supongamos que tenemos dos listas que se corresponden:

In [226]:
key_list = ['name','age','height', 'hair', 'eyes']
value_list = ['Gaddiel',33,1.75,'black','brown']

¿Cómo puedo asociar estos valores en un diccionario? Con `zip`:

In [229]:
# Primero, obtener la lista de pares
list(zip(key_list,value_list))

[('name', 'Gaddiel'),
 ('age', 33),
 ('height', 1.75),
 ('hair', 'black'),
 ('eyes', 'brown')]

In [231]:
# Después obtener diccionario de relaciones
dic_nombre = dict(list(zip(key_list,value_list)))
dic_nombre

{'name': 'Gaddiel',
 'age': 33,
 'height': 1.75,
 'hair': 'black',
 'eyes': 'brown'}

Al ser los diccionarios iterables, puedo iterar sobre ellos (valga la redundancia)

In [232]:
# Iterar sobre diccionario
for key in dic_nombre:
    print(key,': ',dic_nombre[key])

name :  Gaddiel
age :  33
height :  1.75
hair :  black
eyes :  brown

In [233]:
# Iterar sobre valores
for val in dic_nombre.values():
    print(val)

Gaddiel
33
1.75
black
brown

In [236]:
dic_nombre.items()

dict_items([('name', 'Gaddiel'), ('age', 33), ('height', 1.75), ('hair', 'black'), ('eyes', 'brown')])

In [237]:
# Iterar sobre pares llave-valor
for key, val in dic_nombre.items():
    print(key, ':', val)

name : Gaddiel
age : 33
height : 1.75
hair : black
eyes : brown

___
- Quiz 1. Comprende clases 1 y 2.